
<h1>The Crime</h1>

<p>Possession of a 1/2 lb. of Cocain and several thousand dollars cash while crossing a state line.</p>

<p class='prompt'>What do you think is the appropriate sentence?</p>

{{range-slider min='5' max='50' step='5' value='20'}}

<p><em>This button shouldn't appear until the slider has been adjusted.</em></p>

{{#liquid-if rangeCurrent}}

  {{#link-to 'next' class='button'}}
    <span>{{formattedCurrent}}</span>
  {{/link-to}}

{{/liquid-if}}

{{#link-to next class='button'}}
  <span>Temporary next page button</span>
{{/link-to}}

<p><em>... I need to hook up the slider again</em></p>