{{#unless showLife}}
  {{firstDigit}}{{secondDigit}}{{#if decimal}}{{#if showDecimal}}.{{/if}}{{if showDecimalValue decimal}}{{/if}}
  {{#if showYears}}
    <div class="years-text">years</div>
  {{/if}}
{{else}}
  life
{{/unless}}
