
<div class="content">
  
  <h1>Intro</h1>

  <p>The United States has 5% of the world’s population, and 25%
    of the world’s prisoners.</p>

  <p>Over the last 50 years, our efforts to increase public safety have created an incarceration epidemic, with 350% more people in prison since 1980 .   The voting public has a developed a blind trust that the system is functioning as it should, where in reality it’s destructing everyday American families and stifling the positive progression of our society.  </p>

  <p>Common sense reform and a cultural awakening to societal/racial inequities are necessary but it starts with a realization that justice for them is justice for us. We’re all in this together.</p>

  {{next-button destination='experience.story.1.charge' sound='alert'}}

</div>
