
<header class='container story-header'>
<div class='inner-w'>
  
  {{brand-mark}}

  <div class='something'>
    {{!-- something... --}}
  </div>


  {{#link-to 'conclusion.sign-up' class='home-button'}}
    <span>HOME</span>
  {{/link-to}}

</div>
</header>



<section class='yyy'>
  {{outlet}}
</section>
