
<header class='container story-header'>
<div class='inner-w'>
  
  {{brand-mark}}

  <div class='something'>
    {{!-- something... --}}
  </div>

  {{warn-link
    text='HOME'
    href='http://justicefor.us'
    class='home-button'
    message='Are you sure you want to leave this area?'}}

</div>
</header>



<section class='yyy'>
  {{outlet}}
</section>
