
<header class='container story-header'>
<div class='inner-w'>
  
  {{brand-icon}}

  <div class='something'>
    {{!-- something... --}}
  </div>


  {{#link-to 'application' class='home-button'}}
    <span>HOME</span>
  {{/link-to}}

</div>
</header>

{{outlet}}
