
<header class='container story-header'>
<div class='inner-w'>

  {{brand-mark class='color'}}

  <div class='something'>
    {{!-- something... --}}
  </div>

  {{warn-link
    text='HOME'
    href='http://justicefor.us'
    class='home-button'
    message="Are you sure you want to leave? Any saved data regarding your progress will be reset."
  }}

</div>
</header>



<section class='story-outlet'>
<div class="inner-w">

  {{outlet}}

</div>
</section>
