
.years-text
  display: inline
  font-family: monospace
  font-size: 0.3em

.ember-load-indicator
  fixed-translate-center()
  top: 47%;
  max-width: 100px
  color: $white
  svg
    display: block
    width: 100%
    height: auto
    fill: currentColor

.full-logo
  resonsive-image()
  max-width: 150px
  .eye
    color: $color

@keyframes frantic-noise-movement
  0%, 100%
    transform: translate(0,0)
  50%
    transform: translate(10%,0)

.page-logo
  position: fixed
  top: 20%
  horizontal-absolute-translate-center()
  color: $color
  .eye
    color: $color

.noise-layer
  background-image: url('../images/noise.png')
  position: absolute
  width: 300%
  height: 300%
  top: -100%
  left: -100%
  animation: frantic-noise-movement .4s infinite
  opacity: .2
  z-index: 0
  background-size: 300px

@keyframes record-pulse
  0%, 100%
    box-shadow: 0 0 2px 2px alpha($highlight, 40%)
  50%
    box-shadow: 0 0 3px 3px alpha($highlight, 60%)

.record-indicator
  // border: 1px solid red
  padding: $pad*3.2
  fixed()
  top: $pad*6
  right: $pad*3
  z-index: 10
  dev-outline(yellow)
  .light
    width: $pad*3
    height: $pad*3
    border-radius: 50%
    background: $highlight
    animation: record-pulse 2s infinite

.range-slider
  width: 100%
  dev-outline(orange)

button()
  relative()
  reset-button-styles()
  display: inline-block
  background: transparent
  font-family: inherit
  font-size: 16px
  padding: $pad*1.3 $pad*4 $pad*1.15
  border: 3px solid $white
  color: $white
  min-width: 160px
  text-align: center
  text-transform: uppercase
  min-width: 160px
  border-radius: 3px
  solid-type()
  letter-spacing: .2em
  font-weight: 700
  transition: .3s
  span
    balance()
  &:active, &:focus, &:hover
    opacity: .8

.button
  button()
