
body
  background: #222
  color: $white
  standard-type()
  font-family: monospace

.visually-hidden
  visuallyHidden()

input, textarea, button, select, a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

button
  reset-button-styles()

body
  transition: background 1s ease-in-out
  standard-type()

.button
  button()

.alert-star
  color: $highlight
  
.liquid-child, .liquid-container
  overflow: visible