
$d = 56% // distance across
$i = 44% // inset depth

$dr = 55% // distance across
$ir = 40% // inset depth

clip-left()
  clip-path: polygon(
    0% 0%, 
    $i 0%,
    $i 10%,
    $d 10%, 
    $d 20%, 
    $i 20%, 
    $i 30%, 
    $d 30%, 
    $d 40%, 
    $i 40%, 
    $i 50%, 
    $d 50%, 
    $d 60%, 
    $i 60%, 
    $i 70%, 
    $d 70%, 
    $d 80%, 
    $i 80%, 
    $i 90%, 
    $d 90%, 
    $d 100%, 
    0% 100%);
    
clip-right()
  clip-path: polygon(
    100% 100%, 
    $d 100%,
    $d 90%,
    $i 90%, 
    $i 80%, 
    $d 80%, 
    $d 70%, 
    $i 70%, 
    $i 60%, 
    $d 60%, 
    $d 50%, 
    $i 50%, 
    $i 40%, 
    $d 40%, 
    $d 30%, 
    $i 30%, 
    $i 20%, 
    $d 20%, 
    $d 10%, 
    $i 10%, 
    $i 0%, 
    100% 0%);
