
// I was thinking about making both sites with Ember / but that didn't happen. Most of the routes and styles have been pruned or saved here for later.

.module
  // background: $white
  padding: $pad
  float: left
  &:not(first-of-type)
    margin-top: $pad*2
  form
    input
      background: $white
