
.range-w
  margin-top: 60px

.slider-selection
  background: $highlight
  
.tooltip-inner
  background: $color
  font-size: 40px
  min-width: 80px
  position: relative
  bottom: 30px
  opacity: 1
  cursor: grab
.tooltip-arrow
  position: relative
  bottom: 30px
  opacity: 1

.tooltip.in
  opacity: 1
