
.range-w
  margin-top: 40px
  // width: 70%
  // float: left
  padding: 0 $pad*5

.slider-selection.tick-slider-selection
  background: $highlight
  
.tooltip
  // display: none
  top: 30px

.slider-tick-label
  opacity: .2

.tooltip-inner
  background: $color
  font-size: 36px
  min-width: 60px
  position: relative
  bottom: 0px
  opacity: 1
  cursor: grab
  noir-type()
  border-radius: 50%
  color: $color

.tooltip.top
  padding: 0
  transform: translate(0,-40px)

.tooltip.top .tooltip-arrow
  position: absolute
  opacity: 1
  display: block
  z-index: 50

  top: 95%
  left: 50%
  margin-left: -10px
  border-width: 10px 10px 0
  border-top-color: $color
  // display: none
    
.tooltip.in
  opacity: 1

.slider-tick
  width: 2px
  bottom: -8px
  display: none
  
.slider.slider-horizontal .slider-tick
  margin-left: 0
  
.slider.slider-horizontal .slider-track
  // height: 4px
  z-index: 1
  .slider-track-low, .slider-track-hi
    //
  
.slider-handle
  opacity: 0
  
.slider-tick.in-selection
  // background: rgba(255,255,255,.5)
  display: none
  z-index: 0 // trying to make ticks go behind the track...

.slider-tick-label-container
  display: none
  

