
// $dev
dev-outline($color)
  border: 0px solid $color


full-background($image)
  background-size: cover
  background-position: center center
  background-image: url($image)
  background-repeat: no-repeat // ?

/*
 * iOS 9.3 fix
*/
[data-ember-action], .home-button, .button
  cursor: pointer

html, body
  //
  @media $break-point-2
    height: 100%

html
  dev-outline(black)

body
  background-color: $black
  transition: 0s // no idea what is triggering transitions... but this is to stop them
  background: $white
  dev-outline(gray)
  @media $break-point-2
    // fixed-translate-center()
    // width: 100%
    // full-background('/images/stories/4/right.png') // testing

// $structure
.container
  width: 100%
  padding: 0
  dev-outline(blue)

.inner-w
  width: 100%
  max-width: 1100px
  margin: 0 auto
  clear-floats()
  padding: $pad*2
  dev-outline(red)

// $global
a
  color: $highlight
  text-decoration: none

p
  max-width: 900px
  &:not(first-of-type)
    margin-top: $pad*2

// $components
.ember-load-indicator
  fixed-stretch()
  z-index: 50
  dev-outline(red)
  .branding
    responsive-svg()
    absolute-translate-center()
    padding: $pad*2
    max-width: 100px
    dev-outline(blue)

.brand-mark
  position: relative
  display: inline-block
  max-width: 40px
  z-index: 1

  // @media $break-point-2
  //   width: 30px
  //   height: 28px
  //   svg
  //     width: 30px
  //     height: 28px



@media all and (-ms-high-contrast:none)
  .brand-mark
    // position: relative
    // display: inline-block
    // max-width: 40px
    // z-index: 1
    @media $break-point-2
      width: 30px
      height: 28px
      svg
        width: 30px
        height: 28px
  .noise-layer
    display: none

.menu
  li
    display: inline-block
    a
      padding: $pad 0

.noise-layer
  display: none

.application-outlet
  dev-outline(green)

.story-outlet
  //
  dev-outline(yellow)
  //
  > .inner-w
    padding: 0
    height: auto
    max-width: 650px
    max-width: 100% // $check
  @media $break-point-2
    position: absolute
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    .inner-w
      //

.title-outlet
  //
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  dev-outline(pink)
  @media $break-point-1
    .information
      .button
        display: none

  @media $break-point-2
    width: 100%
    max-width: 800px
    absolute-translate-center()
    .information
      background: $white
      .button
        display: none

.home-button
  position: absolute
  z-index: 2000
  top: 0
  right: 0
  padding: $pad*2
  min-width: 100px
  height: 40px
  line-height: 30px
  text-align: right
  color: $gray
  @media $break-point-2
    color: $highlight



// .brand-icon
//   display: none

// .record-indicator
//   display: none

.social-list
  li
    display: inline-block
    a
      color: $color

.action-area
  // text-align: right
  > .inner-w
    max-width: 650px
  dev-outline(lime)
  *
    // border: 1px solid red
  .button-w
    // border: 1px solid blue
    text-align: center
    .next-button, .sentence-note
      display: inline-block
    .next-button
      // outline: 1px solid green
      // float: right
    .sentence-note
      // float: left
      small-type()
  .next-button
    button()
    display: inline-block
    color: $highlight
    border: $thick solid $highlight
  @media $break-point-2
    .button-w
      float: right
    .next-button
      color: $white
      border: $thick solid $white
      &:hover
        opacity: .8
    .sentence-note
      position: absolute
      top: 110%
      standard-type()
      color: $white

.prompt
  font-weight: bold
  // color: $color

.stats
  display: flex

.next-button
  // margin-bottom: $pad*6
  border: $thick solid $highlight
  padding: $pad*2 $pad*3
  min-width: 120px
  text-align: center
  span
    display: inline-block
    width: 100%;
  @media $break-point-2
    color: $white
    border: $thick solid $white


.button
  button()
  // border: $thick solid $highlight
  // padding: $pad $pad*2
  // margin-top: $pad
  // display: inline-flex
  // align-items: center
  // // max-width: 200px
  // flex-shrink: 1
  // solid-type()
  // uppercase()
  // font-size: 16px
  // letter-spacing: .06em
  .icon-x
    width: 16px
    height: 16px
    margin-right: $pad
  // &:active, &:hover
    // background: $highlight
    // color: $white

delay($delay)
  transition-delay: $delay

.story-headers, .timed
  opacity: 0
  transition: .5s
  transform: translate(0,-3px)
  &.one
    delay(.2s)
  &.two
    delay(.5s)
  &.three
    delay(.8s)
  &.four
    delay(1.1s)
  &.five
    delay(1.4s)
  &.six
    delay(1.7s)
  &.seven
    delay(2s)
  &.eight
    delay(2.3s)
  &.nine
    delay(2.6s)
  &.ten
    delay(2.9s)
  &.active
    transform: translate(0,0)
    -webkit-transform: translate(0,0)
    opacity: 1

.page
  // border: $thick solid red
  padding: $pad*2
  text-align: center
  max-width: 660px
  dev-outline(blue)
  header
    .full-logo
      display: inline-block
      color: $color
      margin: $pad*4 0 $pad*4
    .brand-mark
      color: $color
  main
    text-align: left
    color: $white
    p
      fat-type()
  footer
    margin-top: $pad*6

  .button
    border-color: $color
    color: $color
    text-decoration: none
    &:active, &:hover
      // background: $color
      // color: $white
  @media $break-point-2
    //


.title
  .next-button
    // background: red
    opacity: 0

.brand-mark
  &.color
    color: $highlight
  @media $break-point-2
    &.color
      color: $white

.background-image-full, .background-image-pattern
  fixed-stretch()
  background-size: cover
  background-position: center center
  z-index: -1
  display: none
  @media $break-point-2
    display: block

.background-image-full
  &.image-1
    background-image: url("/images/stories/1/compressed.jpg")
  &.image-2
    background-image: url("/images/stories/2/compressed.jpg")
  &.image-3
    background-image: url("/images/stories/3/compressed.jpg")
  &.image-4
    background-image: url("/images/stories/4/compressed.jpg")
  &.image-5
    background-image: url("/images/stories/5/compressed.jpg")

// .details
//   position: fixed
//   top: 0
//   right: 0
//   bottom: 0
//   left: 0
//   background: $white
//   width: 100%
//   height: 100%
//   // border: 1px solid red
//   z-index: 20000
//   padding: $pad*2
//   padding-bottom: $pad*8
//   overflow: scroll
//   -webkit-overflow-scrolling: touch
//   display: none
//   max-width: 800px
//   max-height: 800px
//   absolute-translate-center()

//   p
//     margin-bottom: $pad*2
//   .button-w
//     margin-top: $pad*4
//   &.open
//     display: block

// body
//   &.modal-open
//     overflow: hidden
//     position: fixed
//   @media $break-point-2
//     &.modal-open
//       position: relative



.branding.eye
  // max-width: 30px
  // border: 1px solid red

.story-header
  //
  .inner-w
    display: flex
    flex-direction: row
    flex-grow: 1
    align-content: stretch
    align-items: center
    padding-bottom: 0
    position: relative
  .brand-mark
    max-width: 30px
  .something
    flex-grow: 1
    text-align: center
  .home-button
    // align-self: flex-end
  @media $break-point-2
    .inner-w
      max-width: 100%

body.title
  background: black
  color: $white

.stories
  .brand-icon
    max-width: 70px
    // border: 1px solid red
    svg
      display: block
      width: 100%
      height: 100%

.module
  width: 100%
  // border: 1px solid $color
  padding: 0
  .input-w
    .label
      color: $color
    input
      background: transparent
      border: 1px solid $color!important // $shame

.welcome-logo
  color: $blue
  svg
    // fill: currentColor
  .text
    path
      color: $color

.progress-bar
  display: none

.eye
  color: $color
  max-width: 70px
  margin-top: $pad*2
  // border: 2px solid red
  svg
    fill: currentColor
    display: block
    width: 100%
    height: 100%

.ember-view
  // border: 2px solid orange

.information
  max-width: 650px
  relative()
  z-index: 2
  @media $break-point-2
    .inner-w
      padding: 0

.range-area
  max-width: 650px
  @media $break-point-2
    .button-w
      margin-top: 36px

.body
  background: $black

.story
  background: $white



.crime-w
  .inner-w
    // max-width: 650px
  @media $break-point-2
    background: $white
    padding: $pad*4

.document
  position: relative
  dev-outline(lightgreen)
  max-width: 650px
  background: white
  @media $break-point-2
    min-height: 320px
    opacity: 0
    transform: translate(0, -($pad*4) )
    transition: .2s
    &.active
      transform: translate(0,0)
      -webkit-transform: translate(0,0)
      opacity: 1
  .chunk
    position: absolute
    width: 40px
    height: 40px
    background: $white
    display: none
    transition: 3s
    z-index: -1
    @media $break-point-2
      display: block

  .left
    right: calc(100% - 40px)
    @media $break-point-2
      right: 100%
  .right
    left: calc(100% - 40px)
    @media $break-point-2
      left: 100%
  .one
    top: 0
  .two
    top: 80px
  .three
    top: 160px
  .four
    top: 240px
  .five
    bottom: 0px
  .six
    bottom: 80px
  .seven
    bottom: 160px
  .eight
    bottom: 240px
  header
    clear-floats()
  .table
    float: left
    border: $thick solid $black
    padding: 0
    margin: 0
    clear-floats()
    width: auto
    &:first-of-type
      border-bottom: $thick solid $black
      width: auto
      width: 100%
    &:nth-of-type(2)
      border-top: 0
  header
    //
    uppercase()
    .number
      min-width: 22px
      border-right: $thick solid $black
      border-bottom: $thick solid $black
      display: inline-block
      text-align: center
    .name
      display: inline-block
    .charge
      padding: $pad
      solid-type()
      line-height: 1
    .location, .priors, .actual, .your
      float: left
      padding: 0 $pad
      min-width: $pad*26
      > *
        // border: 1px solid red
      .heading
        display: inline-block
        small-type()
        height: 5px
        line-height: 5px
        // border: 1px solid red
      .content
        // height: 10px
        // line-height: 10px
        // margin-bottom: $pad
    .actual, .your
      .heading
        // border: 1px solid blue
      .content
        // border: 1px solid green
        noir-type()
        font-size: 40px
        line-height: 26px
    .location, .actual
      border-right: $thick solid $black
      //
  @media $break-point-2
    background: $white
    padding: $pad*4


.fact-list
  li
    // border: 1px solid blue
    margin-top: $pad*3
  h3
    noir-type()
    font-size: 30px

.slider-button
  border: 1px solid red
  padding: 0 $pad*5
  clear-floats()
  .button
    float: right
  @media $break-point-2
    padding: 0
    width: auto
    float: right
    .button
      margin-top: 36px
      color: $white
      border: $thick solid $white


