
dev-outline($color)
  // border: 1px solid $color

body
  background: black
  color: $white
  font-family: monospace

visuallyHidden()
  position absolute !important
  clip rect(1px 1px 1px 1px)
  clip rect(1px, 1px, 1px, 1px)
  padding 0 !important
  border 0 !important
  height 1px !important
  width 1px !important
  overflow hidden

.visually-hidden
  visuallyHidden()

input, textarea, button, select, a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

reset-button-styles()
  background: transparent
  border: 0
  border-radius: 0
  &:focus
    outline: 0

button
  reset-button-styles()

body.ember-application
  transition: .3s
  background: black

body
  transition: background 1s ease-in-out
  standard-type()

button()
  position: relative
  display: inline-block
  background: transparent
  font-family: inherit
  font-size: 16px
  padding: $pad*1.3 $pad $pad*1.15
  border-radius: 0
  border: 2px solid $white
  color: $white
  min-width: 160px
  text-align: center
  cursor: pointer
  text-decoration: none
  text-transform: uppercase
  min-width: 220px
  standard-type()
  font-weight: 700
  span
    float: none
    display: inline-block
    vertical-align: middle
  .special-char
    position: relative
    bottom: 2px
  &:active, &:focus, &:hover
    background: $highlight
    color: $white
    border: 2px solid $highlight
  &:before
    position: absolute
    content: ''
    display: block
    width: 100%
    height: 100%
    z-index: 30!important
    top: 0
    right: 0
    bottom: 0
    left: 0

.button
  button()

.center
  fixed-transform-center()
  // border: 4px double blue

p
  max-width: 700px
  margin-bottom: $pad!important
  em
    opacity: .4

h1
  solid-type()

reset-text-input()
  border: 0
  outline: 0
  border-radius: 0
  appearance: none

text-input()
  input[type='text'],
  input[type='email']
    reset-text-input()
    display: block
    width: 100%
    padding: $pad
    max-width: 300px
    background: $gray
    margin-bottom: $pad
    &:focus
      background: $white

.form
  width: 100%
  max-width: 500px
  .input-w
    width: 100%
    .label
      margin-bottom: $pad
    text-input()

.justice-wrapper
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  max-width: 1024px // basic landscape ipad
  max-height: 660px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  padding: $pad
  background: black
  overflow: hidden
  
.lower-right
  fixed()
  right: $pad*3
  bottom: $pad*3

.bg
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  background-image: url('http://i43.tinypic.com/fllf8j.jpg')
  background-size: cover
  background-position: center center
  filter: blur(3px)
  opacity: .5

.effects-list
  reset-list-styles()
  margin-bottom: $pad*2
  > li
    border: 1px solid black
    padding: $pad
    display: inline-block

.prompt
  // padding: $pad
  // background: rgba(0,0,0,.2)

.experience-crime-1
  .justice-wrapper
    background: $gray

.ember-load-indicator
  fixed-transform-center()
  top: 47%;
  max-width: 100px
  color: $white
  svg
    display: block
    width: 100%
    height: auto
    fill: currentColor

// components
.full-logo
  resonsive-image()
  max-width: 200px
  .eye
    color: $color
  &.title-screen
    color: $color

@keyframes frantic-noise-movement
  0%, 100%
    transform: translate(0,0)
  50%
    transform: translate(10%,0)

.noise-layer
  background-image: url(http://i.stack.imgur.com/PEnJm.png)
  position: absolute
  width: 300%
  height: 300%
  top: -100%
  left: -100%
  animation: frantic-noise-movement .2s infinite
  opacity: .2
  z-index: 0
  background-size: 300px

@keyframes record-pulse
  0%, 100%
    box-shadow: 0 0 2px 2px alpha($highlight, 40%)
  50%
    box-shadow: 0 0 3px 3px alpha($highlight, 60%)

.record-indicator 
  // border: 1px solid red
  padding: $pad*3
  fixed()
  top: $pad*2
  right: $pad*3
  z-index: 10
  dev-outline(yellow)
  .light
    width: $pad*3
    height: $pad*3
    border-radius: 50%
    background: $highlight
    animation: record-pulse 2s infinite

.brand-icon.stay
  resonsive-image()
  max-width: 80px
  fixed()
  top: 0
  left: $pad*3
  z-index: 10
  padding: $pad*2
  color: $white
  dev-outline(blue)

.lego-house, .charge-block, .sentence-block, .effects-block
  background: $white
  padding: $pad
  color: $black
  display: inline-block
  min-height: 240px
  .chunk
    position: absolute
    width: 40px
    height: 40px
    background: $white
    &.one
      top: 0
      right: 100%
    &.two
      top: 80px
      right: 100%
    &.three
      top: 160px
      right: 100%
    &.four
      bottom: 160px
      left: 100%
    &.five
      bottom: 80px
      left: 100%
    &.six
      bottom: 0
      left: 100%
  .button
    border-color: $black
    color: $black
    &:focus
      border-color: $highlight

.lego-house
  background: $white
  padding: $pad $pad*3
  color: $black
  // margin-top: $pad*10
  width: 100%
  max-width: 500px
  // margin-left: 40px
  // margin-right: 40px
  position: relative
  left: 50%
  transform: translate(-50%, 0)
  // border: 1px solid red
  h1
    margin: 0

.application-outlet
  dev-outline(blue)
  fixed-spread()

.charge-block
  position: relative
  margin: 40px

body.load
  // background: $white

.brand-icon.load-icon
  resonsive-image()
  fixed-transform-center()
  max-width: 100px
  color: white

body.title
  .center
    text-align: center
    *
      display: inline-block
    .full-logo
      margin-bottom: $pad*2
      
.title-blocks
  .block
    absolute()
    width: 120px
    height: 100px
    background: $color
    &.one, &.two, &.three, &.four
      left: 0
      width: 50px
    &.five, &.six, &.seven, &.eight
      right: 0
    &.one, &.five
      top: -50px
    &.two, &.six
      top: 150px
    &.three, &.seven
      top: 350px
    &.four, &.eight
      top: 550px


.sentence-block
  // border: 2px solid green
  
.effects-block
  // border: 2px solid orange

.range-slider
  // border: 2px solid blue
  width: 70%
  max-width: 500px

// $pages
body.about
  .branding
    max-width: 200px

.info
  width: 100%
  max-width: 66%
  text-align: center
  .full-logo
    display: inline-block
    margin-bottom: $pad*3
  header
    //
  h2
    margin: 0
    solid-type()
    margin-bottom: $pad*2
    text-align: center
  .body
    text-align: left
  p
    font-family: monospace
  footer
    text-align: center
    margin-top: $pad*6

.prior
  // border: 1px solid yellow // revisit
  width: 100%
  float: left

.content
  border: 2px solid red
  // position: relative
  // margin-top: $pad*14
  // padding: $pad*2

.outfield
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  height: 100%
  background: black
  
.experience-story
  //
  .background-image-full, .background-image-pattern
    position: fixed
    width: 100%
    height: 100%
    top: 0
    right: 0
    bottom: 0
    left: 0
    // z-index: 30
    background-size: cover
    background-position: center center
    z-index: 0
    
  // STORY 1
  &.experience-story-1
    //
    .background-image-full
      background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/37/3790/B2EIF00Z/posters/empty-school-room-in-michigan.jpg')
    .background-image-pattern
      background-image: url('http://az616578.vo.msecnd.net/files/2016/08/14/636067988638898174-1015453924_635976524204341496-1176429151_school.jpg')
      clip-left()

  &.experience-story-1-charge
    // covered by previous

  &.experience-story-1-sentence
    //
    .background-image-full
      background-image: url('http://1.bp.blogspot.com/-1V5-FuxNEEU/TjWeZkOQzGI/AAAAAAAAAWk/dBcFhtR28xg/s1600/parking+garage+HDR3.jpg')
    .background-image-pattern
      background-image: url('https://picproj2722.files.wordpress.com/2012/10/empty.jpg')
      clip-right()
  &.experience-story-1-effects
      //
      .background-image-full
        background-image: url('http://sites.psu.edu/wp-content/uploads/sites/12008/2010/06/empty-playground2.jpg')
      .background-image-pattern
        background-image: url('http://www.corvetteforum.com/wp-content/uploads/2016/01/856908-parkinglot.jpg')
        clip-right()

  // STORY 2
  &.experience-story-2
    //
    .background-image-full
      background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/37/3790/B2EIF00Z/posters/empty-school-room-in-michigan.jpg')
    .background-image-pattern
      background-image: url('http://az616578.vo.msecnd.net/files/2016/08/14/636067988638898174-1015453924_635976524204341496-1176429151_school.jpg')
      clip-right()

  &.experience-story-2-charge
    // covered by previous

  &.experience-story-2-sentence
    //
    .background-image-full
      background-image: url('http://1.bp.blogspot.com/-1V5-FuxNEEU/TjWeZkOQzGI/AAAAAAAAAWk/dBcFhtR28xg/s1600/parking+garage+HDR3.jpg')
    .background-image-pattern
      background-image: url('https://picproj2722.files.wordpress.com/2012/10/empty.jpg')
      clip-right()
  &.experience-story-2-effects
      //
      .background-image-full
        background-image: url('http://sites.psu.edu/wp-content/uploads/sites/12008/2010/06/empty-playground2.jpg')
      .background-image-pattern
        background-image: url('http://www.corvetteforum.com/wp-content/uploads/2016/01/856908-parkinglot.jpg')
        clip-right()

// .range-w
//   position: relative
//   // left: 50%
//   // margin: 0 40px
//   text-align: center
//   header
//     // border: 2px solid red
//     padding: $pad 0
//   h2
//     display: inline-block
//     margin: 0
//     extra-large-type()
//     color: $black
//     text-align: center
//     border: 1px solid black
//     min-width: 100px
//     padding: $pad
//   .range-slider
//     display: block
//     padding: 1.3rem 0
//     background: transparent
//     // border: 1px solid blue
//     position: relative
//     left: 50%
//     margin: 0
//     transform: translate(-50%, 0)

footer.button-w
  float: right
  margin-right: $pad*3

.crime-w
  // border: 1px solid red
  width: 100%
  min-height: 100px
  padding: $pad*3 $pad $pad
  font-family: monospace
  .crime
    width: 100%
    float: left
    border: 2px solid $black
    header
      // border: 1px solid orange
      div
        display: inline-block
        text-transform: uppercase
      .name, .number
        font-size: 12px
      .name
        // text-transform: uppercase
      .number
        border-right: 2px solid $black
        border-bottom: 2px solid $black
        min-width: 30px
        text-align: center
        padding: $pad*.5 $pad
    .charge, .headline
      padding: $pad
      solid-type()
      font-size: 22px
  footer
    .location, .priors, .actual, .your
      float: left
      border: 2px solid $black
      border-top: 0
      padding: $pad*.25 $pad $pad*.5
      min-width: 30%
      font-size: 13px
      text-transform: uppercase
      span
        display: block
        font-size: 9px
        margin: $pad*.5 0
    .priors
      border-left: 0
  .actual, .your
    //
    span
      font-size: 12px
    h2
      noir-type()
      margin: 0
      font-size: 50px
  .actual
    h2
      color: $highlight

  .overview, .story, .reasoning
    width: 100%
    float: left
    font-family: monospace
    standard-type()
    
    p, li
      margin: 0
      margin-bottom: $pad
      font-family: monospace!important
      font-family: monospace
  .story, .overview
    // background: red
    margin-top: $pad*1.5
  .reasoning, .prompt
    // background: blue
    margin-bottom: $pad
  .prompt
    width: 100%
    float: left
    color: $color
    p
      margin: 0
      margin-bottom: $pad
  .button
    margin-top: $pad*2

.fact-list
  margin 0
  padding: 0
  list-style: none
  margin: $pad*2 0
  li //
    margin-bottom: $pad*1.5

.ember-view
  dev-outline(red)

      
      