
// $dev
dev-outline($color)
  border: 3px solid $color

$break-point-1 = '(min-width: 500px) and (min-height: 500px)'
$break-point-2 = '(min-width: 900px) and (min-height: 600px)'

html, body
  //
  @media $break-point-2
    height: 100%
    background: gray
    background-size: cover
    background-position: center center
    background-image: url('/images/stories/4/right.png')

body
  // background: $black
  transition: 0s

.container
  width: 100%
  padding: 0

.inner-w
  width: 100%
  max-width: 1100px
  margin: 0 auto
  clear-floats()
  padding: $pad*2

.wire-fframes
  background: $color-light
  //
  .container
    border: 2px solid $color
    padding: $pad
    margin-top: $pad
    .inner-w
      border: 1px solid $color
  &.landing
    section.container
      .inner-w
        min-height: 300px
        @media $break-point-1
          min-height: 400px
  .menu
    //
  .module
    width: 100%
    border: 1px solid $color
    .input-w
      .label
        color: $color
      input
        background: transparent
        border: 1px solid $color
  .ember-load-indicator
    .branding
      border: 1px solid $color
  .range-slider
    border: 1px solid $color
  .ember-load-indicator
    background: $color-light

a
  color: $highlight
  text-decoration: none

p
  max-width: 900px
  &:not(first-of-type)
    margin-top: $pad*2

responsive-img()
  display: block
  width: 100%
  height: auto
.img-w
  img
    responsive-img()

responsive-svg()
  display: block
  width: 100%
  height: 100%
  fill: currentColor
.svg-w
  svg
    responsive-svg()

.brand-mark
  display: inline-block
  max-width: 40px

.module
  // background: $white
  padding: $pad
  float: left
  &:not(first-of-type)
    margin-top: $pad*2
  form
    input
      background: $white

.menu
  li
    display: inline-block
    a
      padding: $pad 0

.ember-load-indicator
  fixed-stretch()
  z-index: 50
  .branding
    absolute-translate-center()
    padding: $pad*2
    max-width: 100px

// .brand-icon
//   display: none

// .record-indicator
//   display: none

.social-list
  li
    display: inline-block
    a
      color: $color
     
.stats
  display: flex
  
.next-button
  margin-bottom: $pad*6
  border: 1px solid $highlight
  padding: $pad*2 $pad*3
  min-width: 120px
  text-align: center
  span
    display: inline-block
    width: 100%;

.button
  border: 1px solid $highlight
  padding: $pad $pad*2
  margin-top: $pad
  display: inline-flex
  align-items: center
  // max-width: 200px
  flex-shrink: 1
  solid-type()
  uppercase()
  font-size: 16px
  letter-spacing: .06em
  .icon-x
    width: 16px
    height: 16px
    margin-right: $pad
  &:active, &:hover
    background: $highlight
    color: $white 

.page
  // border: 1px solid red
  padding: $pad*2
  text-align: center
  header
    .full-logo
      display: inline-block
      color: $color
      margin: $pad*4 0 $pad*4
    .brand-mark
      color: $color
  main
    text-align: left
    color: $white
    p
      solid-type()
  footer
    margin-top: $pad*6

  .button
    border-color: $color
    color: $color
    text-decoration: none
    &:active, &:hover
      background: $color
      color: $white





// .details
//   position: fixed
//   top: 0
//   right: 0
//   bottom: 0
//   left: 0
//   background: $white
//   width: 100%
//   height: 100%
//   // border: 1px solid red
//   z-index: 20000
//   padding: $pad*2
//   padding-bottom: $pad*8
//   overflow: scroll
//   -webkit-overflow-scrolling: touch
//   display: none
//   max-width: 800px
//   max-height: 800px
//   absolute-translate-center()

//   p
//     margin-bottom: $pad*2
//   .button-w
//     margin-top: $pad*4
//   &.open
//     display: block

body
  &.modal-open
    overflow: hidden
    position: fixed
  @media $break-point-2
    &.modal-open
      position: relative

.branding.eye
  max-width: 30px
  // border: 1px solid red

.story-header 
  .inner-w
    display: flex
    flex-direction: row
    flex-grow: 1
    align-content: stretch
    align-items: center
    padding-bottom: 0
    > *
      // border: 1px solid lime
  .brand-mark
    max-width: 30px
  .something
    flex-grow: 1
    text-align: center
  .home-button
    // align-self: flex-end
      
body.title
  background: black
  color: $white

.stories
  .brand-icon
    max-width: 70px
    // border: 1px solid red
    svg
      display: block
      width: 100%
      height: 100%

.module
  width: 100%
  // border: 1px solid $color
  padding: 0
  .input-w
    .label
      color: $color
    input
      background: transparent
      border: 1px solid $color!important // $shame

.welcome-logo
  color: $blue
  svg
    // fill: currentColor
  .text
    path
      color: $color

.progress-bar
  display: none

.eye
  color: $color
  max-width: 70px
  margin-top: $pad*2
  // border: 2px solid red
  svg
    fill: currentColor
    display: block
    width: 100%
    height: 100%

.ember-view
  // border: 2px solid orange

.xxx
  //
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  // border: 3px solid purple
  @media $break-point-1
    .information
      .button
        display: none

  @media $break-point-2
    // background: $white
    width: 100%
    max-width: 800px
    absolute-translate-center()
    .information
      background: $white
      .button
        display: none

.crime-w
  @media $break-point-2
    background: $white
    padding: $pad*4

.document
  //
  header
    clear-floats()
  .table
    float: left
    border: $thick solid $black
    padding: 0
    margin: 0
    clear-floats()
    width: auto
    &:first-of-type
      border-bottom: $thick solid $black
      width: auto
      width: 100%
    &:nth-of-type(2)
      border-top: 0
  header
    //
    uppercase()
    .number
      min-width: 22px
      border-right: $thick solid $black
      border-bottom: $thick solid $black
      display: inline-block
      text-align: center
    .name
      display: inline-block
    .charge
      padding: $pad
      solid-type()
      line-height: 1
    .location, .priors, .actual, .your
      float: left
      padding: 0 $pad
      min-width: $pad*26
      > *
        // border: 1px solid red
      .heading
        display: inline-block
        small-type()
        height: 5px
        line-height: 5px
        // border: 1px solid red
      .content
        // height: 10px
        // line-height: 10px
        // margin-bottom: $pad
    .actual, .your
      .heading
        // border: 1px solid blue
      .content
        // border: 1px solid green
        noir-type()
        font-size: 40px
        line-height: 26px
    .location, .actual
      border-right: $thick solid $black
      
        
.fact-list
  li
    // border: 1px solid blue
    margin-top: $pad*3
  h3
    noir-type()
    font-size: 30px
  
.slider-button
  // border: 1px solid red
  padding: 0 $pad*5
  clear-floats()
  .button
    float: right


