
p, h1, h2, h3, h4, h5
  margin: 0
  padding: 0

uppercase()
  text-transform: uppercase

standard-type()
  // font-family: "roboto-mono",sans-serif;
  font-family: monospace

small-type()
  standard-type()
  font-size: 11px

noir-type()
  font-family: "acier-bat-noir",sans-serif
  letter-spacing: .06em

solid-type()
  font-family: "acier-bat-solid",sans-serif
  letter-spacing: .06em

extra-large-type()
  font-size: 50px
  noir-type()

large-type()
  font-size: 34px
  solid-type()

medium-type()
  font-size: 20px
  solid-type()

p
  // max-width: 740px
  em
    color: $alternate

h1
  solid-type()

fat-type()
  solid-type()
  font-size: 19px
  @media $break-point-1
    font-size: 22px
  @media $break-point-2
    font-size: 24px
