
html, body
  background: black
  height: 100%

html
  box-sizing: border-box
  *, *:before, *:after
    box-sizing: inherit

body
  margin: 0

a
  color: inherit
  
svg
  fill: currentColor
  
[data-ember-action], .touchable
  cursor: pointer

resonsive-image()
  img
    display: block
    width: 100%
    height: auto
  svg
    display: block
    width: 100%
    height: 100%


.image-w
  resonsive-image()

*:not(input)
  user-select: none

.liquid-container, .liquid-child
  position: relative
  width: 100%
  height: 100%
