
html
  box-sizing: border-box
  background: black
  *
    box-sizing: inherit

body
  background: $black
  color: $white
  font-family: monospace

input, textarea, button, select, a
  -webkit-tap-highlight-color: rgba(0,0,0,0)

a
  color: $color

reset-list-styles()
  list-style: none
  margin: 0
  padding: 0

button()
  display: inline-block
  background: $color
  border: 0
  font-family: inherit
  font-size: 16px
  color: $black
  padding: $pad $pad*3
  border-radius: $pad*.5
  min-width: 160px
  text-align: center
  cursor: pointer
  
.button
  button()

.image-w
  background: #666
  display: inline-block
  img
    opacity: 0

p
  max-width: 700px
  em
    opacity: .4

.stuff
  // opacity: .2

reset-text-input()
  border: 0
  outline: 0
  border-radius: 0

text-input()
  input[type='text'],
  input[type='email']
    reset-text-input()
    display: block
    width: 100%
    padding: $pad
    max-width: 300px
    background: $gray
    margin-bottom: $pad
    &:focus
      background: $white

.form
  width: 100%
  max-width: 500px
  .input-w
    width: 100%
    .label
      margin-bottom: $pad
    text-input()

.justice-wrapper
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  max-width: 1024px // basic landscape ipad
  max-height: 660px
  border: 2px solid $color
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  padding: $pad
  background: $black
  
.effects-list
  reset-list-styles()
  margin-bottom: $pad*2
  > li
    border: 1px solid black
    padding: $pad
    display: inline-block

.prompt
  padding: $pad
  background: rgba(0,0,0,.2)

.experience-crime-1
  .justice-wrapper
    background: $gray
    
.ember-view:not(.button)
  // border: 1px solid black
  // padding: 3px
