
<header>
  <h2>The time to act is now.</h2>
</header>

<section class='body'>
  <p>Thank you for participating! Reforming the criminal justice system is crucial to the continued prosperity of our country. We need your help in making this issues known. It’s going to take all Americans, working together to create Justice For Us.</p>
</section>

<footer>
  {{next-button action='transitionToSignUp'}}
</footer>
