
<header class='align-left'>
  <h1 class='visually-hidden'>Email signup</h1>

  <h2>The time to act is now.</h2>
</header><br>

<section class='body'>
  <p class='dont-center'>Thank you for participating! Reforming the criminal justice system is crucial to the continued prosperity of our country. We need your help in making these issues known. It’s going to take all Americans, working together to create Justice For Us.</p>
  <p class='dont-center'>Join the movement and get updates on how to best help move this issue forward.</p>
</section>

<section class='form-w' class='align-left'>

  {{ember-chimp
    formAction='//justicefor.us14.list-manage.com/subscribe/post?u=5e10e5bd2c7439aebb9754e40&amp;id=e1f9c1a36f'
    buttonText='Submit'
    loadingText='Loading...'
  }}

</section>

<div class="play-agains" {{action 'transitionToTitle'}}>
  <span>Play Again</span>
</div>

<h4 class='align-left'>Share your voice for justice with #justiceforus</h4>
