
<header>
  <h2>Thank-you / next steps</h2>
</header>

<section class="body">
  <p>Info here:</p>
</section>

<footer>
  {{!-- {{next-button text='Play again' action='transitionToThankYou'}} --}}

  {{#link-to 'title' class='button'}}
    <span>Play again?</span>
  {{/link-to}}

</footer>
