
<div class='center'>
  <div class='lego-house'>
  
    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>
    
    <div class='crime-w'>
      <div class='crime'>
        <header>
          <div class='number'>1</div>
          <div class='name'>The Effects</div>
        </header>
        <div class='charge'>
          ???
        </div>
      </div>
  
      <div class='story'>
        <ul class='fact-list'>
          <li>#1: Louisiana is the world's prison capital. Louisiana's incarceration rate is nearly five times Iran's, 13 times China's and 20 times Germany's.</li>
          <li>700%: The national state prison population has grown seven-fold since 1970.</li>
          <li>300%: State spending on corrections has grown 300 percent in the last 20 years.</li>
        </ul>
      </div>
  
    </div>
  
  </div>

</div>

{{next-button destination='experience.story.2.charge' class='lower-right'}}
