
<h1>The Effect</h1>

<h2>Total estimated cost: <span class='total'>$$$</span></h2>

<ul class='effects-list'>
  <li>
    <h3>$$$</h3>
    <p>Ineligible for student loans</p>
  </li>
  <li>
    <h3>$$$</h3>
    <p>ineligible for food stamps</p>
  </li>
  <li>
    <h3>$$$</h3>
    <p>high rates of homelessness</p>
  </li>
</ul>

{{#link-to 'experience.story.2.charge' class='button'}}
  <span>to next crime</span>
{{/link-to}}
