
<h1>The results: Life</h1>

<p>First offence. Seven months pregnant at the time of her arrest. An abusive boyfriend threatened to kill her when she tried leaving him. He used her as a mule to transport drugs between states and pick up cash from his drug sales along the way.</p>

{{#link-to 'experience.story.1.effects' class='button'}}
  <span>to effect</span>
{{/link-to}}
