

<div class='center'>

  <div class='lego-house'>

    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>

    <div class='crime-w'>

      <div class='crime'>
        <header>
          <div class='number'>1</div>
          <div class='name'>The Sentence</div>
        </header>
        <div class='headline'>
          There is currently no headline for this story
        </div>
      </div>
      <footer>
        <div class='actual'>
          <span>Actual Sentence</span>
          <h2>13.3</h2>
        </div>
        <div class='your'>
          <span>Your Sentence</span>
          <h2>{{model.sentence}}</h2>
        </div>
      </footer>

      <div class='story'>
        <p>In New Orleans, a father of seven and local restaurateur was stopped by police over by police while riding his bicycle in 2011. The officers searched the man and found 2.8 grams of marijuana, the equivalent of two joints.</p>
      </div>

      <div class='reasoning'>
        <p>Because the man had prior non-violent drug offenses -- for small amounts of marijuana -- a New Orleans jury convicted him under a Louisiana state law that doles out harsher punishments for “habitual offenders.” In fact, the sentencing range for the third offense of possession of marijuana is up to 20 years in prison. Currently, the man does not face the possibility of parole.</p>
      </div>

    </div>

  </div>

  {{next-button destination='experience.story.1.effects'}}

</div>
