
<div class='stuff'>

  <p>Some of the subject matter that follows is not appropriate for children. By choosing to continue, you accept responsibility etc.. <em>Maybe we can use this as a smooth way to incorporate the age verification without a date (which is no more effective than an OK button)</em></p>

  <p>There will be 2 main inputs. Buttons like this:</p>

  {{#link-to 'experience.start.slider' class='button'}}
    <span>Continue</span>
  {{/link-to}}

  <p><em>Press to continue. (confirms they know how buttons work)</em></p>

</div>
