
<p>and sliders like this:</p>

{{input type='range' class='range' name='range' min='0' max='10' value=test}}

<p>Set the slider to 10 to begin.</p>

{{#link-to 'experience.crime.1.index' class='button'}}
  <span>Confirm {{test}}</span>
{{/link-to}}

<p><em>When the user sets the slider to 10, this button will appear</em></p>

{{outlet}}
