
<p>and sliders like this:</p>

{{input type='range' class='range' name='range' min='0' max='10' value=currentPosition}}

<p class='prompt'>Set the slider to 10 to begin.</p>
  
{{#liquid-if participantReady}}

  {{#link-to 'experience.intro' class='button'}}
    <span>Confirm {{currentPosition}}</span>
  {{/link-to}}

{{/liquid-if}}

<p><em>When the user sets the slider to 10, this button will appear</em></p>

{{outlet}}
