
<p>and sliders like this:</p>

<div class='range-w range-slider'>
  {{input type='range' class='range' name='range' min='0' max='10' value=currentPosition}}
</div>


<p class='prompt'>Set the slider to 10 to begin.</p>
  
{{#if participantReady}}

  {{#link-to 'experience.intro' class='button'}}
    <span>Confirm {{currentPosition}} ⇾</span>
  {{/link-to}}

{{/if}}

<p><em>When the user sets the slider to 10, a button will appear</em></p>
