
<section class='container one'>
<div class='inner-w'>

  <h2>Somesection</h2>

  <p>This is an example of how a landing page would fit into the Ember application.</p>

  <p>In sections for phone, and maybe full-screen otherwise?</p>

  <p>OR, above are some links like the Jon Legend example / this could be good for sharing particular parts of the site or refering to specific things.</p>

  <p><em>This is just an example, and will likely be seperate and built with Django etc.</em></p>

</div>
</section>



<section class='container two'>
<div class='inner-w'>

  <h2>Action center</h2>

  <p>Various action modules would be here - or this could be an intro an lead to a dedicated action-center page (as seen in menu above)</p>

  <form action='' class='module'>

    <label for='input-1' class='input-w'>
      <span class='label'>First</span>
      <input id='input-1' type='text'>
    </label>

    <label for='input-1' class='input-w'>
      <span class='label'>Last</span>
      <input id='input-1' type='text'>
    </label>

    <label for='input-1' class='input-w'>
      <span class='label'>Email</span>
      <input id='input-1' type='email'>
    </label>

    <a>Submit</a>

  </form>

  <div class="module">
    <p>Some other CTA</p>
    {{#link-to 'title.welcome'}}
      <span>Start the experience</span>
    {{/link-to}}
  </div>

</div>
</section>



<section class='container three'>
<div class='inner-w'>

  <h2>Other sections</h2>

  {{#link-to 'title.welcome'}}
    <span>Start the experience</span>
  {{/link-to}}

</div>
</section>



<section class='container three'>
<div class='inner-w'>

  <h2>Other sections</h2>

  {{#link-to 'title.welcome'}}
    <span>Start the experience</span>
  {{/link-to}}

</div>
</section>
