
<section class='container page'>
<div class='inner-w'>
  
  <header>
    <h1 class='visually-hidden'>How-to</h1>

    {{brand-icon class='eye'}}
  </header>

  <main>
    {{#blast-text}}
      <p>This will take 5 minutes and contains real-life stories.</p>
      <p>Mention that there is audio.</p>
    {{/blast-text}}
  </main>

  <footer>
    {{#link-to 'title.why' class='button'}}
      <span>> why</span>
    {{/link-to}}
  </footer>

</div>
</section>

{{!-- <div class='center page'>
  <header>
    <h1 class='visually-hidden'>How-to</h1>
  
    <h2>This will take 5 minutes and contains real-life stories.</h2>
  
    <h2>The use of headphones is advised.</h2>
  </header>

  <footer>
    {{next-button action='transitionToWhy' class='temp'}}
  </footer>
</div> --}}

{{progress-bar time='7'}}
