
<section class='container page'>
<div class='inner-w'>
  
  <header>
    <h1 class='visually-hidden'>How-to</h1>

    {{brand-mark}}
  </header>

  <main>
    {{#blast-text}}
      <p>The scenarios reflect real-life stories. The use of headphones is&nbsp;recommended.</p>
    {{/blast-text}}
  </main>

  <footer>
    {{next-button text='Play' action='transitionToFirstStory' class='button'}}
  </footer>

</div>
</section>
