
<h2>It will take about 5 minutes of your time.</h2>

<h2>It contains real-life stories that some people may find disturbing.</h2>

<h2>The use of headphones is recommended for this experience.</h2>

{{next-button action='transitionToWhy'}}
