
<header>
  <h1 class='visually-hidden'>Index</h1>

  <h2>boxes here...</h2>
</header>

<footer>
  {{next-button text='Black box should animate to black screen and begin experience...' action='transitionToWelcome' class='temp'}}
</footer>
