
<header>
  <h1 class='visually-hidden'>Overview</h1>

  <h2>This experience simulates decisions made every day within the U.S. criminal justice system. You will step into a context where your decision-making skills will be tested.</h2>
</header>


<footer>
  {{next-button action='transitionToHowTo'}}
</footer>
