
<section class="container">
<div class="inner-w">
  
  <header>
    <h1 class='visually-hidden'>Overview</h1>
  
    <p>This is a simulation of decisions made every day within the U.S. criminal justice system.</p>
  </header>

  {{#link-to 'title.how-to'}}
    <span>> how-to</span>
  {{/link-to}}

</div>
</section>


<div class='center page'>

  
{{!--   <footer>
    {{next-button action='transitionToHowTo' class='temp'}}
  </footer> --}}
</div>

{{progress-bar time='7'}}
