
<div class='center page'>
  <header>
    <h1 class='visually-hidden'>Overview</h1>
  
    <h2>This experience simulates decisions made every day within the U.S. criminal justice system.</h2>
  </header>
  
  <footer>
    {{next-button action='transitionToHowTo' class='temp'}}
  </footer>
</div>