
<section class='container page'>
<div class='inner-w'>

  <header>
    <h1 class='visually-hidden'>Overview</h1>
    
    {{brand-mark}}
  </header>

  <main>
    {{#blast-text}}
    <p>You will make decisions made every day within the U.S. criminal justice system.</p>
    {{/blast-text}}
  </main>

  <footer>
{{!--     {{#link-to 'title.how-to' class='button'}}
      <span>Next</span>
    {{/link-to}} --}}
    {{next-button action='transitionToHowTo' class='button'}}
  </footer>

</div>
</section>

{{progress-bar time='7'}}
