
<section class='container page'>
<div class='inner-w'>

  <header>
    <h1 class='visually-hidden'>Overview</h1>

    {{brand-mark}}
  </header>

  <main>
    {{#blast-text}}
    <p>You will make decisions made every day within the U.S. criminal justice system.</p>
    <p>You will be presented with scenarios that reflect real-life stories and asked to determine a fair sentencing.</p>
    <p>The use of headphones is&nbsp;recommended.</p>
    {{/blast-text}}
  </main>

  <footer>
    {{next-button text='Begin' action='transitionToFirstStory' class='button'}}
  </footer>

</div>
</section>

{{progress-bar time='7'}}
