
<section class='container page'>
<div class='inner-w'>

  <header>
    <h1 class='visually-hidden'>Index</h1>
    {{full-logo class='welcome-logo'}}
  </header>

  <main>
    {{#blast-text}}
      <p>This is an interactive experience that puts you within the U.S. criminal justice&nbsp;system.</p>
    {{/blast-text}}
  </main>

  <footer>
    {{next-button text='Next' action='transitionToOverview' class='button'}}
  </footer>

</div>
</section>

{{progress-bar time='8'}}