
<div class='center page'>
  <header>
    <h1 class='visually-hidden'>Index</h1>
  
    <h2>An interactive experience that puts you within the U.S. criminal justice system.</h2>
  </header>
  
  <footer>
    {{next-button text='Begin' action='transitionToOverview' class='temp'}}
    
    <div {{action 'playTrack'}} class='button'>play</div>
    <div {{action 'stopTrack'}} class='button'>stop</div>

  </footer>
</div>
