
<header>
  <h1 class='visually-hidden'>Index</h1>

  <h2>An interactive experience within<br> the U.S. criminal justice system.</h2>
</header>

<footer>
  {{next-button text='Begin' action='transitionToOverview'}}
</footer>
