
<section class='container page'>
<div class='inner-w'>
  
  <header>
    <h1 class='visually-hidden'>Why</h1>
    
    {{brand-icon class='eye'}}
  </header>

  <main>
    {{#blast-text}}

      <p>Common sense reform and a cultural awakening to societal and racial inequities are necessary. It starts with a realization: injustice for one is injustice for all.</p>

    {{/blast-text}}
  </main>

  <footer>
    {{next-button action='transitionToFirstStory' class='button'}}
  </footer>

</div>
</section>
