
<section class='container page'>
<div class='inner-w'>
  
  <header>
    <h1 class='visually-hidden'>Why</h1>
    
    {{brand-icon class='eye'}}
  </header>

  <main>
    {{#blast-text}}

      <p>Despite efforts to increase public safety, America faces an incarceration epidemic; our prison population has grown 350% since 1980.</p>

      <p>Many U.S. constituents have blind trust in the functionality of our criminal justice system. In reality, its current standing is destructive to the progress of our great nation.</p>

    {{/blast-text}}
  </main>

  <footer>
    {{#link-to 'title.why-3' class='button'}}
      <span>> Why-3</span>
    {{/link-to}}
  </footer>

</div>
</section>
