
<section class='container page'>
<div class='inner-w'>

  <header>
    <h1 class='visually-hidden'>Why</h1>

    {{brand-icon class='eye'}}
  </header>

  <main>
    {{#blast-text}}
      <p>The United States has 5% of the world’s population, and 25%
    of the world’s prisoners.</p>

      <p><em>This needs to be broken up or re-written to fit or roll out differently. Currently, I've arbitrarily broken these up into 2 more screens</em></p>

    {{/blast-text}}
  </main>

  <footer>
    {{#link-to 'title.why-2' class='button'}}
      <span>> Why-2</span>
    {{/link-to}}
  </footer>

</div>
</section>
