
<header>
  <h1 class='visually-hidden'>Why</h1>

  <h2>The United States has 5% of the world’s population, and 25%
  of the world’s prisoners.</h2>
</header>

<section class="body">
  <p>Despite our best efforts to increase public safety over the last 40 years we are now facing an incarceration epidemic with a prison population growth of 350% since 1980. The general public has a developed a blind trust that the criminal justice system is functioning as it should, where in reality it’s destructing everyday American families and stifling the forward progress of our great country.</p>

  <p>Common sense reform and a cultural awakening to societal and racial inequities are necessary but it starts with a realization that injustice for one is injustice for all.</p>
</section>

<footer>
  {{next-button action='transitionToFirstStory'}}
</footer>





