
<section class="container">
<div class="inner-w">
  
  <header>
    <h1 class='visually-hidden'>Why</h1>
  
    <p>The United States has 5% of the world’s population, and 25%
    of the world’s prisoners.</p>
  </header>

  <main>
    <p>Despite efforts to increase public safety, America faces an incarceration epidemic; our prison population has grown 350% since 1980. Many U.S. constituents have blind trust in the functionality of our criminal justice system. In reality, its current standing is destructive to the progress of our great nation.</p>
  
    <p>Common sense reform and a cultural awakening to societal and racial inequities are necessary. It starts with a realization: injustice for one is injustice for all.</p>
  </main>

</div>
</section>

{{!-- <div class='center page'>
  <header>
    <h1 class='visually-hidden'>Why</h1>
  
    <h2>The United States has 5% of the world’s population, and 25%
    of the world’s prisoners.</h2>
  </header>
  
  <section class='body'>
    <p>Despite efforts to increase public safety, America faces an incarceration epidemic; our prison population has grown 350% since 1980. Many U.S. constituents have blind trust in the functionality of our criminal justice system. In reality, its current standing is destructive to the progress of our great nation.</p>
  
    <p>Common sense reform and a cultural awakening to societal and racial inequities are necessary. It starts with a realization: injustice for one is injustice for all.</p>
  </section>
  
  <footer>
    {{next-button action='transitionToFirstStory'}}
  </footer>
</div> --}}