
<h1>Effect 2</h1>

<p>Likely real effects of sentence.</p>

{{#link-to 'experience.end' class='button'}}
  <span>End</span>
{{/link-to}}

<p><em>This will go to crime 3, but for now - it goes to the end.</em></p>

{{outlet}}