
<h1>The Crime</h1>

<p>Securities fraud while running a jewellery business.</p>

<p>What do you think is the appropriate sentence?</p>

{{input type='range' class='range' name='range' min='0' max='10' value=test}}

<p><em>This button shouldn't appear until the slider has been adjusted.</em></p>

{{#link-to 'experience.crime.2.result' class='button'}}
  <span>{{test}}: to result</span>
{{/link-to}}
