
<h1>The results: 10 yrs</h1>

<p>Tried in Absentia and sentenced to 10 years in prison. She entered with stage three breast cancer and endured seven years in harsh conditions before being released.</p>

{{#link-to 'experience.crime.2.effect' class='button'}}
  <span>to effect</span>
{{/link-to}}
