
{{!-- {{charge-block next='experience.story.1.sentence'}} --}}

<div class='center'>

  <div class='lego-house'>
  
    <div class='chunk one'></div>
    <div class='chunk two'></div>
    <div class='chunk three'></div>
    <div class='chunk four'></div>
    <div class='chunk five'></div>
    <div class='chunk six'></div>
    
    <div class='crime-w'>
      <div class='crime'>
        <header>
          <div class='number'>1</div>
          <div class='name'>The Crime</div>
        </header>
        <div class='charge'>
          Facilitating one crack cocaine transaction in 1999.
        </div>
      </div>
      <footer>
        <div class='location'>
          <span>Location</span>
          Texas
        </div>
        <div class='priors'>
          <span>Priors</span>
          Yes
        </div>
      </footer>
  
      <section class='overview'>
        <p>A 32-year-old single mother with no previous convictions was found guilty of one count of conspiracy to distribute crack cocaine, and acquitted of six counts of possession of crack cocaine and aiding and abetting.</p>
        <p>No prior convictions.</p>
      </section>
  
      <section class='prompt'>
        <p>What do you think is the appropriate sentence?</p>
      </section>
  
    </div>
  
  </div>
  
  <div class='range-w'>
    <header>
      <h2>{{rangeCurrent}}</h2>
    </header>
    <footer>
      {{input type='range' class='range-slider' name='range' min=rangeMin max=rangeMax step=rangeStep value=rangeCurrent}}
    </footer>
  </div>
  
</div>

{{#if rangeCurrent}}

  {{next-button destination='experience.story.2.sentence' sound='jail-door' class='lower-right'}}

{{/if}}
