
<h1>The Crime</h1>

<p>Securities fraud while running a jewellery business. <em>Your average person has no idea what 'securities' are, so I think we would benefit from clarifying with a dumbed down description of things like this.</em></p>

<p>What do you think is the appropriate sentence?</p>

{{input type='range' class='range' name='range' min=rangeMin max=rangeMax step=rangeStep value=rangeCurrent}}

<p><em>This button shouldn't appear until the slider has been adjusted.</em></p>

{{#liquid-if rangeCurrent}}

  {{#link-to 'experience.story.2.sentence' class='button'}}
    <span>{{formattedCurrent}}</span>
  {{/link-to}}

{{/liquid-if}}