
<div class='lego-house'>

  <div class='chunk one'></div>
  <div class='chunk two'></div>
  <div class='chunk three'></div>
  <div class='chunk four'></div>
  <div class='chunk five'></div>
  <div class='chunk six'></div>

  <div class='crime-w'>

    <div class='crime'>
      <header>
        <div class='number'>1</div>
        <div class='name'>The Sentence</div>
      </header>
      <div class='headline'>
        There is currently no headline for this story
      </div>
    </div>
    <footer>
      <div class='actual'>
        <span>Actual Sentence</span>
        <h2>13.3</h2>
      </div>
      <div class='your'>
        <span>Your Sentence</span>
        <h2>XX</h2>
      </div>
    </footer>

    <div class='story'>
      <p>The young woman in question grew up in poverty in the small rural town of Terrell, Texas.  Her mother was paraplegic, and from a young age the woman was forced to take care of her siblings.  In this case, prosecutors claimed the young woman served as a drug courier for a drug supplier in Houston.</p>
    </div>

    <div class="reasoning">
      <p>In 1999, the woman was arrested as part of a drug task force operation, where all 105 people who were arrested were black.  During trial, no physical evidence was ever presented by investigators. However, because of Texas sentencing laws, the judge increased the punishment because the amount of theoretical crack cocaine (30 kg) being trafficked. The woman is not eligible for sentence reductions.</p>
    </div>

  </div>

  {{#link-to 'experience.story.1.effects' class='button'}}
    <span class='text'>Continue</span>
    <span class='icon'>⇾</span>
  {{/link-to}}

</div>
