
<div class='content'>
  <div class='image-w'>
    <img src='http://placehold.it/300x200' alt=''>
  </div>
  <div class='text-w'>
    <h1>Welcome area</h1>
    <p>An explaination of the project. This would not be the actual project, but the front-facing splash site for the general public</p>
    {{#link-to 'experience.start' class='button'}}
      <span>Start experience</span>
    {{/link-to}}
    <p><em>This button would not be here, but is for our ease of navigation while building.</em></p>
  </div>
</div>

{{outlet}}
