
<div class='content'>
  
  {{full-logo}}<br><br>

  <div class='text-w'>
    {{!-- <h1>About area</h1> --}}
    <p>A platform to bring change to Criminal Justice in America.</p>
    <p>An explaination of the platform. This would not be the actual project, but the front-facing splash site for the general public.</p>
    {{#link-to 'experience.start'}}
      <span>Start experience</span>
    {{/link-to}}
    <p><em>This button would not be here, but is for our ease of navigation while programing.</em></p>
  </div>

  <div>
    <p>LAST UPDATED: 9am Wednesday</p>
  </div>
</div>

{{outlet}}
