
{{ember-load-remover}}

<div class='outfield'>

  <div class='justice-wrapper {{backgroundImages.currentPath}}'>
    <div class='background-image-full'></div>
    <div class='background-image-pattern'></div>
    {{noise-layer}}

    <div class='application-outlet'>
      {{liquid-outlet}}
    </div>
  </div>

</div>
