
{{ember-load-remover}}

<div class="outfield">
  
  <div class='justice-wrapper'>
    <div class="background-image-full"></div>
    <div class="background-image-pattern"></div>
    {{noise-layer}}

    {{outlet class='application-child'}}
  </div>


</div>
