
<div class="title-blocks">
  <div class="block one"></div>
  <div class="block two"></div>
  <div class="block three"></div>
  <div class="block four"></div>
  <div class="block five"></div>
  <div class="block six"></div>
  <div class="block seven"></div>
  <div class="block eight"></div>
</div>

<div class="center info">

  {{full-logo class='title-screen'}}<br>

  {{liquid-outlet}}

</div>
