
{{!-- <div class='title-blocks {{if active 'active'}}'>
  <div class='block left one'></div>
  <div class='block left two'></div>
  <div class='block left three'></div>
  <div class='block left four'></div>
  <div class='block left five'></div>
  <div class='block right six'></div>
  <div class='block right seven'></div>
  <div class='block right eight'></div>
  <div class='block right nine'></div>
  <div class='block right ten'></div>
</div> --}}

<header class="container header">
<div class="inner-w">
  
  {{full-logo class='page-logo'}}

</div>
</header>



{{liquid-outlet}}
