
<h1>End</h1>

<p>Call to action and possibly an account of the participant's choices.</p>

<p><em>Likely sharable at some point.</em></p>

{{#link-to 'application' class='button'}}
  <span>Home</span>
{{/link-to}}

{{outlet}}
