
<div class="content">

  <h2>Welcome</h2>

  <p>A general explanation of what will transpire and how the participant will interact.</p>

  <p><em>Maybe they touch a button and use a slider to prove they understand the controls before they enter.</em></p>

  {{outlet}}

</div>
